In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd_data = pd.read_csv('전국교통약자이동지원센터정보표준데이터.csv', encoding='cp949')
print(pd_data.columns)

for i, n in enumerate(pd_data.columns):
    print(i, n)

Index(['교통약자이동지원센터명', '소재지도로명주소', '소재지지번주소', '위도', '경도', '보유차량대수', '보유차량종류',
       '슬로프형휠체어차량대수', '리프트형휠체어차량대수', '예약접수전화번호', '예약접수인터넷주소', '앱서비스명',
       '평일예약접수운영시작시각', '평일예약접수운영종료시각', '주말예약접수운영시작시각', '주말예약접수운영종료시각',
       '차량평일운행시작시각', '차량평일운행종료시각', '차량주말운행시작시각', '차량주말운행종료시각', '사전예약신청기간',
       '차량이용제한사항', '차량관내운행지역', '차량관외운행지역', '차량이용대상', '차량이용요금', '관리기관명',
       '관리기관전화번호', '데이터기준일자', '제공기관코드', '제공기관명'],
      dtype='object')
0 교통약자이동지원센터명
1 소재지도로명주소
2 소재지지번주소
3 위도
4 경도
5 보유차량대수
6 보유차량종류
7 슬로프형휠체어차량대수
8 리프트형휠체어차량대수
9 예약접수전화번호
10 예약접수인터넷주소
11 앱서비스명
12 평일예약접수운영시작시각
13 평일예약접수운영종료시각
14 주말예약접수운영시작시각
15 주말예약접수운영종료시각
16 차량평일운행시작시각
17 차량평일운행종료시각
18 차량주말운행시작시각
19 차량주말운행종료시각
20 사전예약신청기간
21 차량이용제한사항
22 차량관내운행지역
23 차량관외운행지역
24 차량이용대상
25 차량이용요금
26 관리기관명
27 관리기관전화번호
28 데이터기준일자
29 제공기관코드
30 제공기관명

In [2]:
data = pd.DataFrame()

################################

s_addr1 = pd_data['소재지도로명주소']
s_addr2 = pd_data['소재지지번주소']
# print(s_addr1.hasnans)

# print(s_addr2[s_addr2.isna()])
s_addr2[s_addr2.isna()] = s_addr1[s_addr2.isna()]

s_addr3 = s_addr2.astype('str').map(lambda x: x.split(' ')[0])
# print(s_addr3.unique())
s_addr3.replace('전남', '전라남도', inplace=True)
s_addr3.replace('진안군', '전라북도', inplace=True)
data.insert(0, 'addr', s_addr3)

# s_addr1.astype('str').map(lambda x: x.split(' ')[0])
# print(s_addr1)

# s_addr2 = pd_data['소재지지번주소'].astype('str').map(lambda x: x.split(' ')[0])
# print(s_addr2)
# s_addr2.replace('nan', np.NaN, inplace=True)
# print(s_addr2.hasnans)
# s_addr2[s_addr2.isna()]

##################################

print(data)

     addr
0    전라남도
1     경기도
2    경상북도
3     강원도
4    충청남도
..    ...
157  충청남도
158  충청남도
159  충청남도
160  경상남도
161  경상남도

[162 rows x 1 columns]

C:\Users\home\AppData\Local\Temp\ipykernel_93624\3954990215.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_addr2[s_addr2.isna()] = s_addr1[s_addr2.isna()]

In [3]:
s_vcount = pd_data['보유차량대수']
# print(s_vcount.unique())
# print(s_vcount.dtype)
# print(s_vcount.hasnans)

data.insert(1, 'vcount', s_vcount)

data

     addr  vcount
0    전라남도       4
1     경기도      78
2    경상북도       4
3     강원도       5
4    충청남도      14
..    ...     ...
157  충청남도       3
158  충청남도       2
159  충청남도       7
160  경상남도       5
161  경상남도       5

[162 rows x 2 columns]

In [4]:
s_phone = pd_data['예약접수전화번호']
# print(s_phone.unique())
# print(s_phone.dtype)
# print(s_phone.hasnans)
data.insert(2, 'phone', s_phone)
print(data)

     addr  vcount         phone
0    전라남도       4     1899-1110
1     경기도      78     1577-5909
2    경상북도       4  054-673-4747
3     강원도       5     1577-2014
4    충청남도      14     1644-5588
..    ...     ...           ...
157  충청남도       3     1644-5588
158  충청남도       2  041-754-0857
159  충청남도       7     1644-5588
160  경상남도       5     1566-4488
161  경상남도       5     1566-4488

[162 rows x 3 columns]

In [5]:
def myf(x):
    if type(x) is type('str'):
        if x == 'x' or '없음' in x or '불가' in x or '안됨' in x:
            return np.NaN
        else:
            return x
    else:
        return x
    
def myf2(x):
    if type(x) is type('str') and len(x) < 10:
        return np.NaN
    else:
        return x

s_web = pd_data['예약접수인터넷주소']
s = s_web.map(myf2)
print(s.unique())

data.insert(3, 'web', s)

[nan 'http://call.gwd.go.kr' 'http://corona19.dangjin.go.kr/'
 'http://www.brmcall.co.kr' 'http://www.15664488.co.kr/'
 'http://www.duribal.co.kr/' 'www.intis.or.kr' 'www.0632270002.com'
 'https://nuricall.sctc.kr/' 'http://www.15664488.co.kr'
 'http://cafe.daum.net/1447--' 'www.djcall.or.kr'
 'http://www.0632270002.com/view/index.do' 'http://dreamcall.nyj.go.kr/'
 'www.gnseum.org' 'http://www.brmcall.co.kr/'
 'http://phhpcall.phsisul.org/' 'http://www.doumcall.kr'
 'https://hwasun.go.kr' 'www.brmcall.co.kr' 'http://kmcar.gmuc.co.kr'
 'https://gurihappycall.guriuc.or.kr/'
 'https://www.suwonudc.co.kr/swcall/mainPage.do'
 'https://call.yjcmc.or.kr/' 'https://www.doumcall.kr' '0632270002.com'
 'http://0632270002.com' 'https://www.eticket.or.kr'
 'http://kappd-jn.or.kr' 'https://www.best.or.kr/fmcs/26'
 'http://call.gwd.go.kr/main.do' 'http://www.jejuhappycall.com/'
 'http://www.cjsisul.or.kr/reserve/sub.do?menukey=239'
 'https://www.2000happydream.or.kr' 'yd8254@hanmail.net'
 'https://ggsts.gg.go.kr/front/index.do' 'https://bokjicall.gunpouc.or.kr'
 'https://www.0632270002.com:8443/view/index.do' 'www.asimc.or.kr'
 'http://www.doumcall.kr/' 'https://www.gpfmc.or.kr/sub2/sub2_4-2.php'
 'http://www.kndaf.or.kr' 'https://www.hsnarae.or.kr'
 'http://www.doumcall.kr/index_main.html' 'https://call.gwd.go.kr/'
 'https://www.doumcall.kr/' 'http://www.0632270002.com'
 'www.15664488.co.kr' 'http://www.gjhpcall.or.kr' 'http://doumcall.kr'
 '인터넷접수 불가(www.uuc.or.kr)' 'www.jnwf.kr' 'http://ggsts.gg.go.kr'
 'http://ypcall.or.kr']

In [6]:
def myf3(x):
    if type(x) is type('str'):
        if len(x)==1 or '없음' in x or '불가' in x or '안됨' in x or '미정' in x or  "00" in x :
            return np.NaN
        else:
            return x
    else:
        return x

s_app = pd_data['앱서비스명']
# print(s_app.unique())

s = s_app.map(myf3)
print(s.unique())
data.insert(4, 'app', s)

print(data)

[nan '강원도교통약자광역이동지원센터' '경남특별교통수단' '즉시콜' '전라북도 광역이동지원센터 승객용 앱' '세종누리콜(승객용)'
 '대전교통약자이동지원센터' '강원도 광역 교통약자' '전라북도 광역이동지원센터 승객용앱' '경기도광역이동지원'
 '충남 광역이동지원센터 이용자용 앱' '동행콜' '전라남도광역이동지원센터' '경상남도 특별교통수단' '수원시 교통약자 이동지원센터'
 '충남광역이동지원센터' '전남광역콜 앱' '전라북도 광역이동지원센터' '경기도광역이동지원시스템(즉시콜)'
 '하남시교통약자이동지원센터' '이천교통약자' '전남광역승객용 앱' '양주시 교통약자 스마트앱' '군포시 교통약자 이동지원센터'
 '강원도 교통약자 광역이동지원센터' '전남광역승객용앱' '화성시 교통약자 이동지원센터' '전남광역이동지원센터' '즉시콜/예약콜'
 '광주시 교통약자' '전남광역콜' '경기도광역이동지원시스템' '인터넷예약시스템' '특별교통수단']
     addr  vcount         phone                             web  \
0    전라남도       4     1899-1110                             NaN
1     경기도      78     1577-5909                             NaN
2    경상북도       4  054-673-4747                             NaN
3     강원도       5     1577-2014           http://call.gwd.go.kr
4    충청남도      14     1644-5588  http://corona19.dangjin.go.kr/
..    ...     ...           ...                             ...
157  충청남도       3     1644-5588                             NaN
158  충청남도       2  041-754-0857                             NaN
159  충청남도       7     1644-5588                             NaN
160  경상남도       5     1566-4488      http://www.15664488.co.kr/
161  경상남도       5     1566-4488      http://www.15664488.co.kr/

                 app
0                NaN
1                NaN
2                NaN
3    강원도교통약자광역이동지원센터
4                NaN
..               ...
157              NaN
158              NaN
159              NaN
160           특별교통수단
161           특별교통수단

[162 rows x 5 columns]

In [7]:
x = data['web'].isna()

count = 0
for i in x:
    if i is True:
        count = count + 1
print(count)

print(len(data['web'][x]))
print(count/len(data['web']))

90
90
0.5555555555555556

In [8]:
x = data['app'].isna()
count = len(data['app'][x])
print(count/len(data['app']))

0.6975308641975309

In [9]:
g = data.groupby('addr')
g.sum()

         vcount
addr
강원도         123
경기도        1072
경상남도        745
경상북도        170
대구광역시         1
대전광역시        86
부산광역시       181
서울특별시         3
세종특별자치시      26
인천광역시       169
전라남도        155
전라북도        159
제주특별자치도      66
충청남도        276
충청북도        112